@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
.container-1{
    width: 300px;
    height: 500px;
    background-color: #B8C0B9;
    margin-left: 490px;
    margin-top: 50px;
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 250px; 
}
.image-1{
    float: right;}
    .text-1{
    font-family: Roboto;
font-size: 20px;
margin-top: 15px;
font-weight: bold;}
.text-2{
    display: flex;
    margin-left: 0px;
   display: flexbox;
   margin-bottom: 20px;
}
   
   .container-2{
    width: 40px;
    height: 30px;
    background-color: white;
    color: black;
    padding-right: 60px;
    padding-bottom: 18px;
    padding-top: 0px;
    padding-left: 19px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    font-family: Roboto;
    }
    .container-3{
      width: 40px;
    height: 30px;
   background-color: black;
  color: white;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-top: 0px;
    padding-left: 19px;
    padding-right: 60px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px; 
    font-family: Roboto;
    }
    .containers{
         align-items: center;
       background-color: #f2f2f2;
        padding: 12px;
        border-radius: 8px;
        margin: 17px 0;
        max-width: 320px;
         font-family: Roboto;
    }